.container {
  text-align: center;
  word-break: keep-all;
  font-family: 'Pretendard';
  padding: 50px 16px;

  .title {
    font-size: 32px;
    color: #fff;
    line-height: 52px;
    margin: 24px 0 30px;
  }

  .process_list {
    display: grid;
    gap: 40px;
  }

  .process {
    &:nth-child(4) {
      img {
        max-width: 200px;
      }
    }

    img {
      width: 100%;
      max-width: 284px;
      margin: 0 auto;
      display: block;
    }

    h3 {
      font-size: 20px;
      line-height: 34px;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      margin-bottom: 12px;
      width: 100%;
      transition: all 0.15s ease-in-out;

      p {
        transition: all 0.15s ease-in-out;
        color: #e65706;
      }
    }

    > p {
      transition: all 0.15s ease-in-out;
      font-size: 16px;
      color: #c3c3c3;
      line-height: 30px;
      word-break: keep-all;
      white-space: pre-wrap;
      margin: 0;
    }
  }

  @media screen and (min-width: 1280px) {
    padding: 104px 16px 82px;

    .title {
      font-size: 60px;
      line-height: 135px;
      margin: 29px 0 160px;
    }

    .process_list {
      grid-template-columns: repeat(5, 1fr);
      gap: 50px;
    }

    .process {
      h3 > p,
      h3,
      p {
        color: #898989;
      }
    }

    .process {
      &:nth-child(4) {
        img {
          max-width: 284px;
        }
      }

      &:not(:last-child) {
        p {
          white-space: normal;
        }
      }

      img {
        margin-bottom: 52px;
      }

      &:hover {
        h3 {
          transition: all 0.15s ease-in-out;
          color: #fff;

          p {
            transition: all 0.15s ease-in-out;
            color: #e65706;
          }
        }

        > p {
          transition: all 0.15s ease-in-out;
          color: #fff;
        }
      }

      h3 {
        font-size: 24px;
        gap: 12px;
        margin-bottom: 33px;
      }

      > p {
        font-size: 18px;
        line-height: 34px;
      }
    }
  }
}
